<table>
	<thead>
		<tr>
			<th *ngFor="let header of headers">{{header.name}}</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let item of items">
			<td *ngFor="let header of headers">{{item.editables[header.property]}}</td>
			<td>
				<button type="button" style="font-size: 0.7em; font-weight: bold;" 
				(click)="editItem(item.id)">Details
        </button>
      </td>
      <td>
        <button type="button" style="font-size: 0.7em; font-weight: bold;"
        (click)="removeItem(item)">Delete
        </button>
			</td>
		</tr>
	</tbody>
</table>